
<script src="https://unpkg.com/topojson"></script>
<script src="https://unpkg.com/d3-simple-slider@1.10"></script>

<style type="text/css">

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
.leaflet-container{background-color:#fff;}
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    position: relative;
}
.prov-wrapper{
  position: absolute;
  
}
.map_mesh {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}

.map_outline {
    fill: #ddd;
    stroke: #000;
    stroke-width: 1.5px;
}

.map_province {
    fill: #1f77b4;
}

.map_province:hover {
    fill: #636363;
    cursor: pointer;
}
    .ticks {
font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
</style>
<div class="container-md">
  
    <div class="wrapper">
      <div class ="prov-wrapper"></div>
    </div> 
    
  
  <div class="row justify-content-center">
    <div style="width:500px">
      <label for="nRadius" class = "form-label">
        <span id="value">…</span>
      </label>
      <input type="range" class = "form-range" min="0" max="11" id="nRadius">
    </div>
      
  </div>
</div>

    